@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Nunito", sans-serif;
}

.projects {
  /* border: 1px solid red; */
  height: 33vh;
  width: 100%;
}

.view-more {
  width: 8rem;
  border-radius: 6px;
}
